.dialog-layout {
  max-width: 1rem;
  background-color: green;
}
.dialog-container {
  width: 1rem;
  background-color: pink;
}
.flex-column {
  display: flex;
  flex-direction: column;
  gap: 0;
  margin-bottom: 2rem;
}
.flex-row {
  display: flex;
  gap: 0.5rem;
  align-items: baseline;
}
.xx-large-text {
  font-size: xx-large;
  margin-right: 1rem;
}
.x-large-text {
  font-size: x-large;
  margin-right: 1rem;
}
.vert-space2 {
  margin-top: 2rem;
}
