.label {
  font-weight: bold;
}

.value {
}

.info-panel {
  background-color: #f7f7f7;
  border: #777777 0.1rem solid;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 1rem 0 1rem 0;
}
.action-panel {
  background-color: gray;
  border: #777777 0.1rem solid;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  margin: 2rem 0 2rem 0;
}
.content-box {
}
.detail-section {
  border-bottom: #777777 0.1rem solid;
  margin: 0.5rem 0;
  /*border-radius: 0.5rem;*/
  /*padding: 0.3rem;*/
}
.detail-flex-row {
  display: flex;
  gap: 0.5rem;
  align-items: baseline;
}
.detail-flex-column {
  display: flex;
  flex-direction: column;
}
button {
  width: 200px;
  /*margin-right: 500px;*/
}

.big-text {
  font-size: xx-large;
  margin-right: 1rem;
}
.green {
  color: green;
}
.red {
  color: red;
}
.spacer {
  flex-grow: 1;
}

.item-grow {
  flex-grow: 1;
  text-align: center;
}
/*Board*/
.detail-row-lbl-val {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: baseline;
  justify-items: start;
  gap: 0.5rem;
}
